*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background-color: none;
}

.container {
  max-width: 1160px;
  margin: auto;
}

body {
  font-family: 'Rubik', sans-serif;
}

.intro {
  margin-top: 57px;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__content {
  max-width: 640px;
  margin-top: 74px;
}

.intro__content-title {
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
}

.intro__content-subtitle {
  font-weight: 300;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #454f5b;
}

.intro__content-button {
  font-weight: 700;
  font-size: 16px;
  color: white;
  text-decoration: none;
  background-color: #58b741;
  padding: 18px 18px 18px 18px;
  border-radius: 4px;
}

.intro__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.intro__advantages-card {
  width: 350px;
  background-color: #f9fafb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 31px;
  padding-bottom: 31px;
  border-radius: 8px;
}

.intro__advantages-card:last-child {
  border-bottom: 2px solid #58b741;
}

.intro__advantages-card-pic {
  margin-left: 41px;
}

.intro__advantages-card-content {
  margin-left: 30px;
}

.intro__advantages-card-content-title {
  font-weight: 400;
  font-size: 20px;
}

.intro__advantages-card-content-subtitle {
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  color: #454f5b;
  margin-top: 4px;
}

.condition {
  margin-top: 110px;
}

.condition__title {
  font-weight: 500;
  font-size: 35px;
}

.condition__cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.condition__cards-card {
  max-width: 360px;
}

.condition__cards-card-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
}

.condition__cards-card-subtitle {
  font-weight: 400;
  font-size: 18px;
  color: #454F5B;
}

.shop {
  margin-top: 110px;
  background-color: #F6F6F6;
}

.shop__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 76px;
}

.shop__content {
  margin-left: 103px;
}

.shop__content-title {
  font-weight: 500;
  font-size: 40px;
  margin-top: 5px;
}

.shop__content-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #959EAD;
  margin-top: 13px;
  margin-bottom: 27px;
}

.shop__content-button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
  background-color: #58B741;
  padding: 11px 14px 11px 14px;
  border-radius: 4px;
}

.header {
  margin-top: 25px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__naming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__naming-name {
  font-weight: 400;
  font-size: 23.0769px;
  color: #454F5B;
  margin-left: 8px;
  margin-top: 5px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-list-item {
  margin-right: 27px;
}

.header__nav-list-item:last-child {
  margin-right: 0px;
}

.header__nav-list-item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #454F5B;
}

.location__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F6F6F6;
}

.location__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */