.intro {
    margin-top: 57px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        max-width: 640px;
        margin-top: 74px;
        &-title {
            font-weight: 500;
            font-size: 40px;
            text-transform: uppercase;
        }
        &-subtitle {
            font-weight: 300;
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 40px;
            color: #454f5b;
        }
        &-button {
            font-weight: 700;
            font-size: 16px;
            color: white;
            text-decoration: none;
            background-color: #58b741;
            padding: 18px 18px 18px 18px;
            border-radius: 4px;
        }
    }
    &__advantages {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        &-card {
            width: 350px;
            background-color: #f9fafb;
            display: flex;
            align-items: center;
            padding-top: 31px;
            padding-bottom: 31px;
            border-radius: 8px;
            &:last-child {
                border-bottom: 2px solid #58b741;
            }
            &-pic {
                margin-left: 41px;
            }
            &-content {
                margin-left: 30px;
                &-title {
                    font-weight: 400;
                    font-size: 20px;
                }
                &-subtitle {
                    font-weight: 300;
                    font-size: 16px;
                    text-decoration: none;
                    color: #454f5b;
                    margin-top: 4px;
                }
            }
        }
    }
}
