.location{
    margin-top: 122px;
    &__wrapper{
        display: flex;
        background-color: #F6F6F6;;
    }
    &__contacts{
        margin-left: 60px;
        margin-top: 67px;
        display: flex;
        &-info{
            margin-left: 60px;
            max-width: 240px;
            &-title{
                font-weight: 400;
                font-size: 14px;
                color: #BCBCBC;
                text-transform: uppercase;
            }
            &-subtitle{
                font-weight: 400;
                font-size: 20px;
                text-decoration: none;
                color: black;
            }
        }
    }
}
.visually-hidden{
    visibility: hidden;
}