.location {
    &__wrapper {
        display: flex;
        background-color: #f6f6f6;
        height: 200px;
    }
    &__map {
        width: 45%;
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
        padding: 60px;
        &-info {
            &:first-child {
                margin-right: 60px;
            }
            &-title {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                color: #bcbcbc;
                margin-bottom: 2px;
            }
            &-subtitle {
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
            }
        }
    }
}
